<p id="notice"><%= notice %></p>

<h2>A203教室</h2>

<div id="calendar"></div>

<br>

<%= link_to 'New Event', new_event_path %>

<!-- Modal -->
<div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEventModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="addEventModalLabel">現在預約</h4>
			</div>
			<%= form_for Event.new do |f| %>
				<div class="modal-body">
					<div class="form-group">
            <label for="startTime">時間：</label><br/>
						<span id="startTime"></span> ~ <span id="endTime"></span>
						<%= f.hidden_field :start_at %>
						<%= f.hidden_field :end_at %>
					</div>
					<div class="form-group">
						<%= f.label :title, '姓名' %>
						<%= f.text_field :title, class: 'form-control', placeholder: '請輸入姓名……' %>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-primary">確定新增</button>
				</div>
			<% end %>
		</div>
	</div>
</div>
